*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    
   
    
    
}
.nav1 a{
    padding: 20px;
    color:black
}

.jjj{
    display: flex;
    justify-content: space-around;
    background-color: #eff1f2;
    border-radius: 70px;
    align-items: center;

   
}
.kj{
    display: flex;
    justify-content: space-around;
    background-color: #e6c744; 
    padding-top: 20px;
    padding-bottom: 10px;
}
.gf{
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 60px;
}
.uw{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}.gx{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.ff{
    display: flex;
    justify-content: space-around;
    background-color: #f9df56;
    padding-top: 20px;
}
.kids{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}
.little{
    padding-top: 20px;
}
.ty{
    font-size: 5px;
}#zz{
    padding-left: 20px;
}
.ipl{
    box-shadow: 0px 0px 10px 0px rgba(28, 24, 24, 0.75);
    border-radius: 20px;
}
.mobile{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.email{

    justify-content: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    position: relative;
    padding-left: 450px;
    padding-top: 50px;
}
.rem1{
    justify-content: fixed;
    padding-bottom: 10px;
    align-items: center;
 padding-left: 450px;
    padding-top: 50px;
}
.gh{ 
    background-color: #fff;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 568px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .nav1 a {
        padding: 10px;
    }
    .jjj {
        flex-direction: column;
        align-items: center;
    }
    .kj {
        flex-direction: column;
        align-items: center;
    }
    .gf {
        padding-left: 20px;
        padding-right: 20px;
    }
    .email{
        flex-direction: column;
        align-items: center;
    }
    .uw{
        flex-direction: column;
        align-items: center;
    }
    .ff{
        flex-direction: column;
        align-items: center;
    }
    .kids{
        flex-direction: column;
        align-items: center;
    }
    .mobile{
        flex-direction: column;
        align-items: center;
    }
    .rem1{
        flex-direction: column;
        align-items: center;
    }
    .gh{
        width: 90%;
    }

}